body {
  margin: 0;
  background: linear-gradient(to left bottom, #dddddd, #658864, #dddddd);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.container {
  background: #e3f6ff;
  padding: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  width: 85%;
  text-align: center;
  color: #b05a7a;
}

.heading {
  font-size: 30px;
  font-weight: 200;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: 1px 5px 2px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
}

.joke {
  font-size: 20px;
  font-weight: 500;
  margin: 30px;
}

.btn {
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  background: #e3f6ff;
  border-color: lightgray;
  text-transform: uppercase;
  width: 300px;
  color: #b05a7a;
}

.btn:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease;
  background: #b05a7a;
  color: #e3f6ff;
}
